<div  style="margin:100px auto;">
  <form class="container" action="/admin/peliculas/editar" method="post" enctype="multipart/form-data">
    <div class="row text-center m-5">
      <h1 class="col text-center">Editar pelicula - Id: {{pelicula.id}}</h1>
      <div class="col text-end">
        <a class="btn btn-success" href="/admin/peliculas">
          <i class="bi bi-arrow-left-circle"></i>
          Volver
        </a>
      </div>
    </div>
    <div class="row">
      <input type="hidden" name="id" value="{{pelicula.id}} " />
      <div class="row">
      <div class="col">
        <input
          type="text"
          class="form-control"
          placeholder="Titulo"
          name="titulo"
          value="{{pelicula.titulo}}"
        />
      </div>
      <div class="col">
        <input
          type="text"
          class="form-control"
          placeholder="Genero"
          name="genero"
          value="{{pelicula.genero}}"
        />
      </div>
    </div>
    <div class="row mt-3">
      <div class="col">
        <input
          type="text"
          class="form-control"
          placeholder="Minutos"
          name="minutos"
          value="{{pelicula.minutos}}"
        />
      </div>
      <div class="col">
        <input
          type="text"
          class="form-control"
          placeholder="Origen"
          name="origen"
          value="{{pelicula.origen}}"
        />
      </div>
      <div class="col">
        <input
          type="number"
          class="form-control"
          placeholder="Precio"
          name="precio"
          value="{{pelicula.precio}}"
        />
      </div>
    </div>
    <div class="row mt-3">
      <div class="col">
        <textarea
          name="descripcion"
          rows="5"
          class="form-control"
          placeholder="Descripcion"
        >{{pelicula.descripcion}}</textarea>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col">
        <img src={{pelicula.imagen}} alt="nigga" height="150" width="auto"/>
        <input type="file" class="form-control" name="imagen" id="imagen" />
      </div>
    </div>
    <div class="row mt-3">
      <button type="submit" class="btn btn-primary">Editar</button>
    </div>
  </form>
  {{#if error}}
    <div class="alert alert-danger" role="alert">
      {{message}}
    </div>
  {{/if}}
</div>